{% extends "base/base.html" %}
{% load bootstrap_pagination %}
{% load web_tags %}

{% block title %}
  <title>Resume</title>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>简历信息 / </span>简历列表
    </h1>
  </div>

  <div class='box-header'>
    <form class="form-inline" action="">
      <div>
        <input name="name" class="form-control" placeholder="姓名" value="{{ form.cleaned_data.name }}">
        <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;共{{ total }}条记录
      </div>
    </form>
  </div>
  </br>

  <div class="table-light">
    <table class="table table-bordered">
      <thead>
      <th>姓名</th>
      <th>电话</th>
      <th>邮箱</th>
      <th>最高学历</th>
      <th>毕业院校</th>
      <th>所学专业</th>
      <th>当前公司</th>
      <th>当前职位</th>
      <th>工作年限</th>
      <th>简历</th>
{#      <th>附件</th>#}
      </thead>
      <tbody>
      {% for item in resume_list %}
        <tr class="odd gradeX">
          <td>{{ item.name }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.education }}</td>
          <td>{{ item.school }}</td>
          <td>{{ item.profession }}</td>
          <td>{{ item.company }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.experience }}</td>
          <td>{% if item.file %}<a href="{{ MEDIA_URL }}{{ item.file }}" target="view_window" download="" data-toggle="tooltip" data-state="info" data-placement="bottom" title data-original-title="{{ item.file|file_name }}">下载</a>{% else %}无{% endif %}</td>
{#          <td>#}
{#            {% if item.file_applicant %}#}
{#              {% for file in item.file_applicant %}#}
{#              <a href="{{ MEDIA_URL }}{{ file }}" target="view_window" download="" data-toggle="tooltip" data-state="info" data-placement="bottom" title data-original-title="{{ file|file_name }}">{{ forloop.counter }}</a>#}
{#              {% endfor %}#}
{#            {% else %}无{% endif %}#}
{#          </td>#}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      {% bootstrap_paginate resume_list url_extra_args=params range=10 show_first_last="true" %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    // -------------------------------------------------------------------------
    // Initialize DEMO sidebar

    $(function () {
      pxDemo.initializeDemoSidebar();

      $('#px-demo-sidebar').pxSidebar();
      pxDemo.initializeDemo();
    });
  </script>

  <script type="text/javascript">
    // -------------------------------------------------------------------------
    // Initialize DEMO

    $(function () {
      var file = String(document.location).split('/').pop();

      // Remove unnecessary file parts
      file = file.replace(/(\.html).*/i, '$1');

      if (!/.html$/i.test(file)) {
        file = 'index.html';
      }

      // Activate current nav item
      $('body > .px-nav')
        .find('.px-nav-item > a[href="' + file + '"]')
        .parent()
        .addClass('active');

      $('body > .px-nav').pxNav();
      $('body > .px-footer').pxFooter();

      $('#navbar-notifications').perfectScrollbar();
      $('#navbar-messages').perfectScrollbar();
    });

    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <script>
    // -------------------------------------------------------------------------
    // Initialize DataTables

    $(function () {
      $('#datatables').dataTable();
      {#$('#datatables_wrapper .table-caption').text('职位信息');#}
      $('#datatables_wrapper .dataTables_filter input').attr('placeholder', 'Search...');
    });
  </script>
{% endblock %}
