{% extends 'base/base.html' %}
{% load bootstrap_pagination %}

{% block title %}
  <title>Job</title>
{% endblock %}

{% block content %}
  <div class="bootbox modal fade bootbox-large" id="dutyModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">新建发文</h4>
        </div>
        <div class="modal-body">
          <div class="bootbox-body">
            <form class="bootbox-form" id="job_form" action="" method="post">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">*登记人员</label>
                  <input type="text" class="form-control" id="dutyName">
                  <!-- <span class="font-13 text-muted">请输入名称</span> -->
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">*性别</label>
                  <!-- <input type="text" class="form-control" id="gender"> -->
                  <select name="function_type" class="form-control salary" data-allow-clear="true">
                    {% for item in job_status_option %}
                    <option>{{ item.1 }}</option>
                    {% endfor %}
                    <!-- {% for item in function_type_option %}
                      <option value={{ item.0 }} {% if item.0 == job_info.function_type %}selected{% endif %}>{{ item.1 }}</option>
                    {% endfor %} -->
                  </select>
                  <!-- <span class="font-13 text-muted">请输入性别</span> -->
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dutyMobile">联系电话</label>
                  <input type="text" class="form-control" id="dutyMobile">
                  <!-- <span class="font-13 text-muted">请输入名称</span> -->
                </div>
                <div class="form-group col-md-6">
                  <label for="dutyPosition">职位信息</label>
                  <input type="text" class="form-control" id="dutyPosition">
                  <!-- <span class="font-13 text-muted">请输入名称</span> -->
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dutyRegistered">登记时间</label>
                  <input type="text" class="form-control" id="dutyRegistered">
                  <!-- <span class="font-13 text-muted">请输入名称</span> -->
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">*登记状态</label>
                  <select name="function_type" class="form-control salary" data-allow-clear="true">
                    <option></option>
                    <option>男</option>
                    <option>女</option>
                    <!-- {% for item in function_type_option %}
                      <option value={{ item.0 }} {% if item.0 == job_info.function_type %}selected{% endif %}>{{ item.1 }}</option>
                    {% endfor %} -->
                  </select>
                  <!-- <span class="font-13 text-muted">请输入名称</span> -->
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="dutyRemark">备注信息</label>
                  <!-- <input type="" class="form-control" id="name"> -->
                  <textarea id="textarea" class="form-control" maxlength="512" rows="5" id="dutyRemark"></textarea>
                  <!-- <span class="font-13 text-muted">请输入名称</span> -->
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
          <button data-bb-handler="confirm" type="button" class="btn btn-primary" id="createDocument">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>值班登记 / </span>值班登记
    </h1>
  </div>
  </br>
  <div class="box-header">
    <form class="form-inline" action="">
      <div>
        <input name="job_title" class="form-control" placeholder="职位名称" value="{{ form.cleaned_data.job_title }}">
        <select name="function_type" class="form-control salary" data-allow-clear="true">
          <option value="">全部</option>
          {% for item in function_type_option %}
            <option value={{ item.0 }} {% if item.0 == form.cleaned_data.function_type %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
{#        <select name="status" class="form-control status" data-allow-clear="true">#}
{#          <option value="">全部</option>#}
{#          {% for item in job_status_option %}#}
{#            <option value={{ item.0 }} {% if item.0 == form.cleaned_data.status %}selected{% endif %}>{{ item.1 }}</option>#}
{#          {% endfor %}#}
{#        </select>#}
        <select name="publish" class="form-control status" data-allow-clear="true">
          <option value="">全部</option>
          {% for item in publish_status_option %}
            <option value={{ item.0 }} {% if item.0 == form.cleaned_data.publish %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">查询</button>
        <a class="btn btn-danger btn-primary pull-md-right" id="createDuty">登记</a>
      </div>
    </form>
  </div>
  </br>

  <div class="table-light">
    <table class="table table-bordered">
      <thead>
      <th>职位名称</th>
      <th>职能类型</th>
      <th>招聘类型</th>
      <th>工作地点</th>
      <th>更新日期</th>
      <th>创建日期</th>
      <th>简历</th>
      <th id='status_sort' class="{% if form.cleaned_data.status_order == 1 %}sorting_asc{% elif form.cleaned_data.status_order == 2 %}sorting_desc{% else %}sorting{% endif %}">状态</th>
      <th>操作</th>
      </thead>
      <tbody>
      {% for item in job_list %}
        <tr class="odd gradeX">
          <td>{{ item.job_title }}</td>
          <td>{{ item.function_type }}</td>
          <td>{{ item.applicant_type }}</td>
          <td>{{ item.work_place }}</td>
          <td>{{ item.created_time| date:"Y-m-d" }}</td>
          <td>{{ item.last_update| date:"Y-m-d" }}</td>
          <td>{{ item.count }}</td>
          <td><label class="label label-tag {% if item.status == '进行中' %}label-success{% elif item.status == '已暂停' %}label-danger{% elif item.status == '已完成' %}label-primary{% elif item.status == '已取消' %}label-warning{% endif %}">{{ item.status }}</label></td>
          <td>
            <a onclick="getDuty(event, '{{ item.job_title }}', '{{ item.function_type }}', '{{ item.applicant_type }}', '{{ item.work_place }}')" class="btn btn-sm btn-primary btn-outline">查看编辑</a>
            <a id="deleteDuty" class="btn btn-sm btn-danger btn-outline">删除</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="table-footer clearfix">
      <div class="DT-label">
        <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite" aria-relevant="all">
          共 {{ total }} 条记录
        </div>
      </div>
      <div class="DT-pagination">
        <div class="dataTables_paginate paging_simple_numbers" id="jq-datatables-example_paginate">
          {% bootstrap_paginate job_list url_extra_args=params range=10 show_first_last="true" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    // -------------------------------------------------------------------------
    // Initialize DEMO sidebar

    $(function () {
      pxDemo.initializeDemoSidebar();

      $('#px-demo-sidebar').pxSidebar();
      pxDemo.initializeDemo();

      $('[data-toggle="tooltip"]').tooltip();
      $('#datatables').dataTable();
    });
  </script>
  <script type="text/javascript">
    $("#status_sort").click(function () {
      if ($('#status_sort').attr('class') == 'sorting_asc') {
        $('#status_sort').attr('class', 'sorting_desc');
        window.location.href = setParam('status_order', 2);
      } else if ($('#status_sort').attr('class') == 'sorting_desc') {
        $('#status_sort').attr('class', 'sorting');
        window.location.href = setParam('status_order', 0);
      } else {
        $('#status_sort').attr('class', 'sorting_asc');
        window.location.href = setParam('status_order', 1);
      }
    });

    $("#publish_sort").click(function () {
      if ($('#publish_sort').attr('class') == 'sorting_asc') {
        $('#publish_sort').attr('class', 'sorting_desc');
        window.location.href = setParam('publish_order', 2);
      } else if ($('#publish_sort').attr('class') == 'sorting_desc') {
        $('#publish_sort').attr('class', 'sorting');
        window.location.href = setParam('publish_order', 0);
      } else {
        $('#publish_sort').attr('class', 'sorting_asc');
        window.location.href = setParam('publish_order', 1);
      }
    });

    $("#createDuty").click(function () {
      $("#dutyModal").modal("show");
    });

    function getDuty(event, a,b,c,d) {
      event.preventDefault();
      console.log(a,b,c,d);
      $("#dutyModal").modal("show");
      $("#dutyMobile").val(b)
      $("#dutyPositon").val(c)
      $("#dutyRemark").val(d)
      // 获取链接中的 URL
      // var url = $(this).attr('href');
        // // 发起 AJAX 请求
        // $.ajax({
        //     url: url,
        //     type: 'POST',
        //     success: function (data) {
        //       if (data.code == ERROR_CODE.SUCCESS) {
        //         // window.location.href = "{% url 'duty_list' %}";
        //         $("#dutyName").val(data.content.job_desc)
        //       } else if (data.code == ERROR_CODE.NOT_LOGIN) {
        //         // window.location.href = "{% url 'sso_login' %}";
        //         msg_info(data.msg_cn, 'danger');
        //       } else {
        //         msg_info(data.msg_cn, 'danger');
        //       }
        //     }
        // });
    }
    </script>
{% endblock %}
