<link href="/static/css/font-face.css" rel="stylesheet" type="text/css">
<link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Core stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/pixeladmin.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/widgets.min.css" rel="stylesheet" type="text/css">

<!-- Theme -->
<link href="/static/css/themes/clean.min.css" rel="stylesheet" type="text/css">
