{% extends 'base/base.html' %}
{% load bootstrap_pagination %}

{% block title %}
  <title>Job</title>
{% endblock %}

{% block content %}
  <div class="bootbox modal fade bootbox-large" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">新建发文</h4>
        </div>
        <div class="modal-body">
          <div class="bootbox-body">
            <form class="bootbox-form" id="job_form" action="" method="post">
              <div class="form-horizontal row">
              <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">*文件名称</label>
                <div class="col-sm-8">
                  <input name="job_title" type="text" class="form-control" value="{{ job_info.job_title| default_if_none:'' }}">
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">*文件名称</label>
                <div class="col-sm-8">
                  <input name="job_title" type="text" class="form-control" value="{{ job_info.job_title| default_if_none:'' }}">
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">*文件名称</label>
                <div class="col-sm-8">
                  <input name="job_title" type="text" class="form-control" value="{{ job_info.job_title| default_if_none:'' }}">
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">*文号</label>
                <div class="col-sm-8">
                  <textarea id="documentContent" name="documentContent">{{ job_info.job_desc| default_if_none:'职位描述' }}</textarea>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
          <button data-bb-handler="confirm" type="button" class="btn btn-primary" id="createDocument">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>收发文 / </span>发文
    </h1>
  </div>
  </br>
  <div class="box-header">
    <form class="form-inline" action="">
      <div>
        <input name="job_title" class="form-control" placeholder="职位名称" value="{{ form.cleaned_data.job_title }}">
        <select name="function_type" class="form-control salary" data-allow-clear="true">
          <option value="">全部</option>
          {% for item in function_type_option %}
            <option value={{ item.0 }} {% if item.0 == form.cleaned_data.function_type %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
{#        <select name="status" class="form-control status" data-allow-clear="true">#}
{#          <option value="">全部</option>#}
{#          {% for item in job_status_option %}#}
{#            <option value={{ item.0 }} {% if item.0 == form.cleaned_data.status %}selected{% endif %}>{{ item.1 }}</option>#}
{#          {% endfor %}#}
{#        </select>#}
        <select name="publish" class="form-control status" data-allow-clear="true">
          <option value="">全部</option>
          {% for item in publish_status_option %}
            <option value={{ item.0 }} {% if item.0 == form.cleaned_data.publish %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">查询</button>
        <a class="btn btn-danger btn-primary pull-md-right" id="showModal">新建发文</a>
      </div>
    </form>
  </div>
  </br>

  <div class="table-light">
    <table class="table table-bordered">
      <thead>
      <th>职位名称</th>
      <th>职能类型</th>
      <th>招聘类型</th>
      <th>工作地点</th>
      <th>更新日期</th>
      <th>创建日期</th>
      <th>简历</th>
      <th id='status_sort' class="{% if form.cleaned_data.status_order == 1 %}sorting_asc{% elif form.cleaned_data.status_order == 2 %}sorting_desc{% else %}sorting{% endif %}">状态</th>
      <th class=>操作</th>
      </thead>
      <tbody>
      {% for item in job_list %}
        <tr class="odd gradeX">
          <td>{{ item.job_title }}</td>
          <td>{{ item.function_type }}</td>
          <td>{{ item.applicant_type }}</td>
          <td>{{ item.work_place }}</td>
          <td>{{ item.created_time| date:"Y-m-d" }}</td>
          <td>{{ item.last_update| date:"Y-m-d" }}</td>
          <td>{{ item.count }}</td>
          <td><label class="label label-tag {% if item.status == '进行中' %}label-success{% elif item.status == '已暂停' %}label-danger{% elif item.status == '已完成' %}label-primary{% elif item.status == '已取消' %}label-warning{% endif %}">{{ item.status }}</label></td>
          <td>
            <a href="{% url 'job_view' item.id %}" class="btn btn-xs btn-danger btn-outline btn-rounded">编辑</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="table-footer clearfix">
      <div class="DT-label">
        <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite" aria-relevant="all">
          共 {{ total }} 条记录
        </div>
      </div>
      <div class="DT-pagination">
        <div class="dataTables_paginate paging_simple_numbers" id="jq-datatables-example_paginate">
          {% bootstrap_paginate job_list url_extra_args=params range=10 show_first_last="true" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    // -------------------------------------------------------------------------
    // Initialize DEMO sidebar

    $(function () {
      pxDemo.initializeDemoSidebar();

      $('#px-demo-sidebar').pxSidebar();
      pxDemo.initializeDemo();

      $('[data-toggle="tooltip"]').tooltip();

      let status = getUrlParam("status");
      if(status == 1){
        $(".processing").addClass("active");  // 待处理
      }else if(status == 2){
        $(".paused").addClass("active");  // 合适
      }else if(status == 3){
        $(".completed").addClass("active"); // 不合适
      }else if(status == 4){
        $(".cancelled").addClass("active"); // 待定
      }else{
        $(".all").addClass("active"); // 全部状态
      }

    });
  </script>
  <script type="text/javascript">
    $("#status_sort").click(function () {
      if ($('#status_sort').attr('class') == 'sorting_asc') {
        $('#status_sort').attr('class', 'sorting_desc');
        window.location.href = setParam('status_order', 2);
      } else if ($('#status_sort').attr('class') == 'sorting_desc') {
        $('#status_sort').attr('class', 'sorting');
        window.location.href = setParam('status_order', 0);
      } else {
        $('#status_sort').attr('class', 'sorting_asc');
        window.location.href = setParam('status_order', 1);
      }
    });

    $("#publish_sort").click(function () {
      if ($('#publish_sort').attr('class') == 'sorting_asc') {
        $('#publish_sort').attr('class', 'sorting_desc');
        window.location.href = setParam('publish_order', 2);
      } else if ($('#publish_sort').attr('class') == 'sorting_desc') {
        $('#publish_sort').attr('class', 'sorting');
        window.location.href = setParam('publish_order', 0);
      } else {
        $('#publish_sort').attr('class', 'sorting_asc');
        window.location.href = setParam('publish_order', 1);
      }
    });

    $("#documentContent").summernote({
      height: 200,
      toolbar: [
        ["parastyle", ["style"]],
        ["fontstyle", ["fontname", "fontsize"]],
        ["style", ["bold", "italic", "underline", "clear"]],
        {#["font", ["strikethrough", "superscript", "subscript"]],#}
        ["color", ["color"]],
        ["para", ["ul", "ol", "paragraph"]],
        ["height", ["height"]],
        {#["insert", ["picture", "link", "video", "table", "hr"]],#}
        ["history", ["undo", "redo"]],
        ["misc", ["codeview", "fullscreen"]],
        ["help", ["help"]]
      ],
    });

    $("#showModal").click(function () {
      $("#myModal").modal("show");
    });
    </script>
{% endblock %}
